
p {
  font-size: 1.3rem;
  font-weight: 200;
  margin-top: 20px;
  letter-spacing: 1px;
  line-height: 1.6rem;
  color: whitesmoke;
}


.tecnologies ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.tecnologies .languages{
  margin-right: 20px;
}


@media screen and (max-width:768px) {
  .card {
    width: 100%;
  }
}